div.container section.filters {
background-color: white;
height: 70px;
width: 100%;
border: 1px solid #DDDDDD;
border-radius: 4px;
display: flex;
justify-content: flex-end;
align-items: center;
}

section.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;

}

section.filters button:hover {
    opacity: 0.9;
}

